.header {
	position: sticky;
	z-index: 10;
	top: 0;
	display: flex;
	align-items: center;
	width: 100%;
	height: 4.5rem;
	padding: 0.75rem 3rem;
	background-color: var(--bg-dark-color);
	border-bottom: 1px solid #aeabc210;
}

.logo {
	display: flex;
	align-items: center;

	img {
		height: 2.25rem;
		margin-right: 10px;
	}
	span {
		font-weight: 800;
		font-size: 1.25rem;
	}
}

.nav {
	margin: 0;

	> ul > li {
		display: flex;
		gap: 1rem;
		list-style: none;

		> a {
			&:hover {
				opacity: 0.8;
			}
		}
	}

	@media (width <= 570px) {
		display: none;
	}
}
