.content {
	margin: 3rem 0;
}

.text {
	max-width: 40rem;

	> h2 {
		font-size: 2rem;
	}

	> p {
		margin-top: 1rem;
		margin-bottom: 5rem;
		color: var(--secondary-color);

		> strong {
			font-weight: 700 !important;
			color: var(--accent-color);
		}
	}

	@media (width <= 425px) {
		> p {
			text-align: justify;
		}
	}
}

.projects {
	display: grid;
	justify-items: center;
	grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
	gap: 1.5rem;
}
